body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.ui.icon.button,
.ui.icon.buttons .button {
  margin: 0;
}

.ui.tabular.menu {
  background: #2185d0;
}

.ui.tabular.menu .item {
  color: white;
}